@model WebApplication2.Models.InputPemasukan

@{
    ViewBag.Title = "FormInputPemasukan";
}

<h2>FormInputPemasukan</h2>


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div>Name: </div>
    <div>
        @Html.TextBoxFor(m => m.PemasukanPerBulan)
        <input type="submit" value="Submit" />
    </div>
}


